@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
font-family: 'Montserrat', sans-serif;
margin: 0px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    font-size: x-large;
  }
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#adam{
    color: white;
}


